
.main{
  position: relative;
  .block-btn-down{
    position: absolute;
    width: 100%;
    top: -22.5px;
    text-align: center;
    &__style{
        @include style-btn;
        padding: 13px 26px;
        font-size: 18px;
        line-height: 20px;
        color: $body-primary-text-color;
        background-color: $body-tretiary-color;
        transition: 500ms;
        cursor: pointer;
        border: 2px solid transparent;
    }
    &__style:hover{
        @include hover-btn;
        border: 2px solid;
    }
}
@include tablet {
  .block-btn-down{
    top: -32.5px;
    &__style{
    padding: 23px 60px;
    font-size: 21px;
    line-height: 23px;
 }
}
}
@include desktop {
  .block-btn-down{
    top: -32.5px;
    &__style{
    padding: 23px 60px;
    font-size: 21px;
    line-height: 23px;
 }
}
}
  .section-editor {
    @include container-mix;
    @include flex-container;
    flex-direction: column;
    &__text-under-btn{
      @include style-under-text;
      color: $body-secondary-text-color;
      padding-top: 35px;
      padding-bottom: 79px;
  }
    &__title {
      font-weight: bold;
      font-size: 26px;
      line-height: 28px;
      color: #635C73;
      text-transform: uppercase;
      text-align: center;
    }
  
    &__description {
      margin-top: 27px;
      font-size: 14px;
      line-height: 20px;
      color: $main-title-text;
      text-align: center;
    }
  
    &__buttons {
      margin-top: 27px;
      @include flex-container;
      flex-direction: row;
      flex-wrap: wrap;
  
  
      .button-block {
  
        &__btn {
          margin-left: 9px;
          padding: 6.7px 10px;
          background-color: rgb(238, 238, 239);
          border: 1px solid lightgrey;
          border-radius: 3px;
          cursor: pointer;
        }
  
        &__icon {
          padding-left: 2px;
          padding-right: 5px;
          height: 14px;
          width: 24px;
        }
  
        &__numbers {
          padding: 7px 5px;
          border: 1px solid lightgrey;
          font-size: 12px;
          font-weight: bold;
          margin-top: -1%;
          border-radius: 3px;
        }
      }
    }
  
  
  
    @include tablet {
      .block-btn-down{
        top: -32.5px;
        &__style{
        padding: 23px 60px;
        font-size: 21px;
        line-height: 23px;
     }
    }
      .section-editor {
        &__text-under-btn{
          padding-top: 53px;
          line-height: 16px;
          padding-bottom: 93px;
      }
        &__description {
          margin-top: 33px;
        }
  
        &__buttons {
          margin-top: 24px;
        }
      }
    }
  
  
  
    @include desktop {
      .block-btn-down{
        top: -32.5px;
        &__style{
        padding: 23px 60px;
        font-size: 21px;
        line-height: 23px;
     }
    }
      &__title {
        font-size: 54px;
        line-height: 54px;
      }
  
      .section-editor {
        &__text-under-btn{
          padding-top: 53px;
          line-height: 16px;
          padding-bottom: 66px;
      }
        &__description {
          font-size: 21px;
          line-height: 32px;
          margin-top: 35px;
          padding-left: 12%;
          padding-right: 12%;
        }
  
        &__buttons {
          margin-top: 24px;
        }
      }
    }
  }
  .section-getting {
    @include container-mix;
    @include flex-container;
    flex-direction: column;
    margin-top: 120px;
    text-align: center;
  
    .name-block {
      &__title {
        font-family: $montserrat-font;
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: $body-tertiary-text-color;
      }
    }
  
    .characteristics {
  
      &__block {
        margin-top: 36px;
      }
    }
  
    .text-block {
  
      &__title {
        margin-top: 21px;
        font-family: $montserrat-font;
        font-size: 16px;
        line-height: 16px;
        color: $main-title-text;
        text-align: center;
      }
  
      &__description {
        margin-top: 14px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 14px;
        line-height: 21px;
        color: $body-secondary-text-color;
        text-align: center;
      }
    }
  
    .picture-block {
      margin-top: 64px;
      margin-right: -9%;
      padding-bottom: 20px;
      width: 100%;
  
      &__item-photo {
        width: 100%;
        height: 100%;
      }
    }
  
  
  
    @include tablet {
  
      .name-block {
        &__title {
          margin-top: 45px;
          font-size: 42px;
        }
      }
  
      .inform-block {
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
  
        .first{
          margin-left: 23px;
        }
  
        .second{
          margin-left: 43px;
        }
  
        .third{
          margin-left: 70px;
        }
  
        .fourth{
          margin-left: 58px;
        }
      }
  
      .text-block {
        margin-top: -21px;
        margin-left: 21px;
  
        &__title {
          margin-left: 3px;
          text-align: left;
        }
  
        &__description {
          text-align: left;
          padding: 0;
        }
      }
    }
  
  
  
    @include desktop {
      background-color: #F4F4F4;
      padding-bottom: 50px;
      margin-top: 60px;
      display: grid;
      grid-template-areas:
              "a b"
              "a c";
      grid-template-columns: 50% 50%;
      align-items: start;
  
      .name-block {
  
        &__title {
          margin-top: 6%;
          font-weight: bold;
          font-size: 43px;
          line-height: 50px;
        }
      }
  
      .characteristics{
        grid-area: a;
      }
  
      .inform-block {
        grid-area: a;
        margin-top: 50px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
  
        .first{
          margin-left: 23px;
        }
  
        .second{
          margin-left: 43px;
        }
  
        .third{
          margin-left: 70px;
        }
  
        .fourth{
          margin-left: 58px;
        }
      }
  
      .text-block {
        margin-top: -21px;
        margin-left: 21px;
  
        &__title {
          margin-left: 3px;
          text-align: left;
        }
  
        &__description {
          text-align: left;
          padding: 0;
        }
      }
  
      .picture-block {
        grid-area: c;
        width: 100%;
        margin-top: -2%;
  
        &__item-photo {
          grid-area: c;
          margin-left: 2.8%;
        }
      }
    }
  }
  
    .section-talk-people{
        background-image: url('../img/main/bg-section-talk-people-img.png');
        @include style-BG;
        text-align: center;
        padding: 0px 25px;
        margin-bottom: -8px;
        &__title-text{
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            color:$body-primary-text-color;
            padding-top: 57px;
        }
        .blocks-description{

            .firms{
                padding-bottom: 45px;
                &__logo--smashing{
                    padding-top: 57px;
                    min-width: 165px;
                    min-height: 43px;
                }
                &__logo--codrops{
                    min-width: 148px;
                    min-height: 50px;
                }
                &__logo--w{
                    min-width: 64px;
                    min-height: 64px;
                }
                &__logo--pixel-buddha{
                    min-width: 225px;
                    min-height: 24px;
                }
                &__logo--CB{
                    min-width: 166px;
                    min-height: 34px;
                }
                &__logo--TNW{
                    min-width: 108px;
                    min-height: 34px;
                }
                &__description{
                    font-family: $font-lato;
                    font-weight: bold;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 24px;
                    color: $body-primary-text-color;
                    padding-top: 33px;
                }
            }
        }
        &__text{
            font-family: $font-lato;
            font-size: 14px;
            line-height: 21px;
            color: #A291A5;
        }

    }
    @include tablet{
        .section-talk-people{
            background-image: url('../img/main/tablet/bg-section-talk-people-img.png');
            &__title-text{
                font-size: 42px;
                line-height: 44px;
                padding-top: 85px;
            }
            .blocks-description{
                margin-top: 88px;
                display: grid;
                grid-template-columns: repeat(2,minmax(130px,1fr));
                grid-template-rows: repeat(3,1fr);
                justify-content: space-between;
                align-items: end;
                column-gap: calc(16px + (63 - 16) * ((100vw - 320px) / (1200 - 320)));
                padding-bottom: 73px;
            }
        }
         }
    @include desktop{
        .section-talk-people{
            background-image: url('../img/main/desktop/bg-section-talk-people-img.png');
            &__title-text{
                font-size: 48px;
                line-height: 50px;
                padding-top: 108px;
            }
            .blocks-description{
                margin-top: 31px;
                display: grid;
                grid-template-columns: repeat(3,minmax(200px,324px));
                grid-template-rows: repeat(2,1fr);
                justify-content: center;
                align-items: end;
                column-gap: calc(16px + (87 - 16) * ((100vw - 320px) / (1200 - 320)));
            }
            &__text{
                width: 887px;
                margin: 0 auto;
            }
        }
    }

}

