$font-lato:'Lato', sans-serif;
$body-primary-text-color:#FFFFFF;
$body-secondary-text-color: #848E97;
$body-tretiary-color:#8D81AC;
$font-weight-bold:bold;
$main-title-text:#323232;
$mobile-width:320px;
$tablet-width:470px;
$desktop-width:993px;


