$body-primary-text-color: #FFFFFF;
$body-secondary-text-color: #848E97;
$body-tertiary-text-color: #8D81AC;
$main-title-text: #323232;
$montserrat-font:'Montserrat', sans-serif;
$lato-font: 'Lato', sans-serif;

$mobile-width: 320px;
$tablet-width: 480px;
$desktop-width: 993px;
